@import 'tailwindcss';
@import url('/css/style.css');

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
  }
}

@keyframes loader {
  0% {
    transform: translateX(-110%);
  }
  50% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(180%);
  }
}
